<template>
  <div class="container">
    <div style="background:linear-gradient(#660099, #8161ff); width:100vw; height: 5em;">
      <nuxt-link :to="{name: 'index' }">
        <i class="material-icons return">
          arrow_back
        </i>
      </nuxt-link>
      <nuxt-link :to="{name: 'index' }">
        <img src="@/assets/images/logo-white.png" class="logo"/>
      </nuxt-link>
    </div>
    <div v-if="profil">
      <profil-header :profil="profil" />
      <carousel-badge
        :badges="getProfilBadges(profil.id)"
        class="mt-5"
      />
      <projects
        :items="profil.projects"
        :profil="profil"
        class="mt-5"
      />
      <profil-video
        :profil="profil"
        class="mt-5"
      />
      <commentaire
        v-if="profil.comments"
        :comments="profil.comments"
        class="mt-5"
      />
      <contact
        :profil="profil"
        class="mt-5"
      />
      <social-network
        :social="profil.socials"
        class="mt-5"
      />
    </div>
  </div>
</template>


<script>
import ProfilHeader from "@/components/ProfilHeader";
import Projects from "@/components/Projects";
import Commentaire from "@/components/Commentaire";
import Contact from "@/components/Contact";
import CarouselBadge from "@/components/CarouselBadge";
import SocialNetwork from "@/components/SocialNetwork";
import ProfilVideo from "@/components/ProfilVideo";

export default {
  API_HOST: process.env.API_HOST,
  components: {
    ProfilHeader,
    CarouselBadge,
    Projects,
    Commentaire,
    Contact,
    SocialNetwork,
    ProfilVideo
  },
  async asyncData ({ $axios, params }) {
    try {
      let badges = await $axios.get(`/badges`, {baseURL: process.env.API_HOST})
      let profil = await $axios.get(`/profils/${(params.slug.split('-'))[0]}`, {baseURL: process.env.API_HOST})
      return {
        profil: profil.data,
        badges: badges.data
      }
    } catch (error) {
      console.log(error)
    }
  },
  methods: {
    getProfilBadges(profilId) {
      const profilBadges = []
        this.badges.forEach(badge => {
        this.profil.profilBadges.forEach(profilBadge => {
          if (badge.id == profilBadge.badgeId.id)
            profilBadges.push({...badge, enabled: profilBadge.enable })
        })
      })
      return profilBadges
    }
  }
};
</script>

<style lang="postcss" scoped>

.container {
  @apply min-h-screen flex text-center mx-auto flex-col;
  background-color: #F6F6F6;
  max-width: 100%;
  align-items: initial;
}
.return {
  float: left;
  width: 30px;
  margin-top: 26px;
  margin-left: 25px;
  color: white;
}
.logo {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  height: 3em;
}

</style>
