<template>
  <div class="carouselContainer mt-10 mb-10">
    <carousel
      :perPageCustom="[[300, 1], [600, 2], [900, 3], [1200, 4]]"
      :navigationEnabled="false"
      :paginationEnabled="false"
      :loop="true"
      :autoplay="false"
      :autoplayTimeout="5000">

      <!-- BOUCLE SUR LES TOUT LES PROFILS (Crée une slide par profil) -->
      <slide v-for="profil in randomiseProfils" :key="profil.id" class="flex flex-col items-center justify-center text-white" >

        <!-- CONTAINER GLOBALE -->
        <div class="flex flex-col justify-between p-2 m-2 rounded-lg shadow-xl height" :class="profil.adopted ? 'adopted' : 'purple'">

          <!-- PANCARTE ADOPTÉ -->
          <div class="flex justify-center">
            <span class="adopted-text" v-if="profil.adopted">Adopté</span>
          </div>

          <!-- CONTAINER POUR L'OPACITÉ -->
          <div :class="{'opacity' : profil.adopted}">

            <!-- PHOTO DE PROFIL -->
            <div class="flex flex-row justify-center">
              <img :src="`${$options.API_HOST}/profils/${profil.id}/image`" class="pic shadow"/>
            </div>
            
            <!-- INFOS -->
              <div class=" flex flex-col items-center justify-center text-base">
                <p class="bold title-montserrat"> {{ profil.firstName}} {{ profil.lastName}} </p>
                <p class="title-montserrat pl-3 flex flex-col items-center justify-center text-base"> {{ calcAge(profil.birthday) }} ans </p>
              </div>

          </div>
          
          <!-- CONTAINER BADGES -->
          <div class="flex flex-row justify-between" v-if="profil.profilBadges">
            <div class="flex flex-col self-start mb-6" >

              <!-- BADGES -->
              <div v-for="badge in handleSlicedBadges(profil.profilBadges)" :key="badge.id" class="flex flex-row items-center">
                <div class="container-badge mb-2 mr-4">
                  <img :src="`${$options.API_HOST}/badges/${badge.badgeId.id}/image`"/>
                </div>
                <p class="text-xl small bold">{{ getBadgeById(badge.badgeId.id).name }}</p>
              </div>

            </div>
          </div>

          <!-- REDIRECTION VERS LA PAGE PROFIL -->
            <div class="self-end" style="margin-bottom: 15px;">
              <nuxt-link :to="{name: 'profil-slug', params: { slug: profil.id + '-' + profil.firstName + '-' + profil.lastName} }">
                <div class="flex flex-row items-end mr-2 show-profil">
                  <p class="small uppercase mr-2">Voir le profil</p>
                  <i class="material-icons" style="width:24px;">arrow_forward</i>
                </div>
              </nuxt-link>
            </div>

        </div>
      </slide>
    </carousel>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  API_HOST: process.env.API_HOST,
  components: {
    Carousel,
    Slide
  },
  props: {
    badges: {
      type: Array,
      required: true
    },
    profils: {
      type: Array,
      required: true
    },
  },
  data() {
    return {
      randomiseProfils: []
    }
  },
  methods: {
    calcAge (date) {
      const formatedDate = new Date(date)
      const diff = Date.now() - formatedDate.getTime();
      const age = new Date(diff); 
      return Math.abs(age.getUTCFullYear() - 1970);
    },
    slug (profil) {
      return profil.firstname + '-' + profil.lastname
    },
    handleSlicedBadges (badges) {
      let slicedBadges = []
      badges = badges.filter(b => b.badgeId.id < 1000)
      badges = badges.filter(b => b.enable)
      
      if (badges.length > 3) {
        while (slicedBadges.length < 3) {
          const random = Math.floor(Math.random() * badges.length)
          if (!slicedBadges.includes(badges[random])) {
            slicedBadges.push(badges[random])
          }
        }
      } else {
        slicedBadges = badges
      }
      return slicedBadges
    },
    getBadgeById (badgeId) {
      return this.badges.filter(badge => badge.id == badgeId).pop()
    },
    handleRandomiseProfils () {
      const random = Math.floor(Math.random() * this.profils.length)

      if (!this.randomiseProfils.includes(this.profils[random])) {
        this.randomiseProfils.push(this.profils[random])
      }

      if (this.randomiseProfils.length !== this.profils.length) {
        this.handleRandomiseProfils()
      }
    }
  },
  mounted () {
    this.handleRandomiseProfils()
  }
};
</script>

<style lang="postcss" scoped>

.carouselContainer {
  width: 100%;
}

.adopted {
  background: linear-gradient(rgb(91, 91, 94), rgb(114, 113, 114));
}

.opacity {
  opacity: 0.5;
}

.adopted-text {
  position: absolute;
  text-transform: uppercase;
  top: 45%;
  transform: rotate(-25deg); 
  text-align: center;
  color: black;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 30px;
  padding: 5px 80px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);
  z-index: 50;
  border:3px solid black;
}

.purple {
  background: linear-gradient(rgb(133, 52, 174), rgb(154, 128, 255));
}

.pic {
  border-radius: 100px;
  width: 140px;
  height: 140px;
  top:15px;
}

.grayscale {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}
.VueCarousel-slide {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
.VueCarousel-slide > div {
  width: 95%;
  margin: 0 auto;
}

.container-badge {
  width: 48px;
  height: 48px;
}

.container-badge img {
  width: 100%;
  height: 100%;
}

.show-profil i {
  width: 24px;
}

.height {
  min-height: 500px;
}

.title-montserrat {
  font-family: "Montserrat";
  font-size:1.5em;
  margin-top:15px;
}

.contact_carousel {
  bottom:5px;
}
</style>
