<template>
  <div class="video-responsive" v-if="profil.video != 'video.mp4' ">
    <iframe width="560" height="315" :src="profil.video" frameborder="0" allowfullscreen
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
  </div>
</template>

<script>
export default {
  props: ["profil"]
};
</script>

<style lang="postcss" scoped>

.video-responsive {
  width: auto;
  display: flex;
  justify-content: center;
}

</style>
