<template>
  <div class="mt-6">
    
    <!-- NOMBRE DE PERSONNES TROUVÉS APRES L'APPLICATION DU FILTRE -->
    <div class="flex flex-row justify-center items-center mb-6">
      <p v-if="profils.length > 0" class="text-filters">Nous avons trouvé 
        <span class="bold">{{ profils.length }}</span> 
        <span v-if="profils.length > 1">profils</span>
        <span v-if="profils.length == 1">profil</span> 
        qui peuvent vous intéresser</p>
      <p v-if="profils.length == 0 && selected.length > 0" class="text-filters">Nous sommes désolés, aucun profil de correspond à votre recherche.</p>
    </div>

    <!-- GRILLE DE CARTE DE PROFIL -->
    <div class="grid_result_list">
      <div class="search-result-list" v-for="profil in profils" :key="profil._id" :class="profil.adopted ? 'adopted' : 'color'">
        <div style="position: relative">

          <!-- PANCARTE ADOPTÉ -->
          <div class="flex justify-center container-adopted">
            <span class="adopted-text" v-if="profil.adopted">Adopté</span>
          </div>
          
          <!-- CONTAINER POUR L'OPACITÉ -->
          <div :style="profil.adopted ? 'opacity: 0.5' : ''">

          <!-- PHOTO DE PROFIL + INFOS + BADGES -->
            <div class="flex justify-between pr-3">

              <!-- INFOS -->
              <div class="flex flex-col justify-around mt-5">
                <div>
                  <h2 class="ml-3" style="font-size: 25px;">{{profil.firstName}} {{profil.lastName}}</h2>
                  <h2 class="ml-3" style="font-size: 25px;">{{calculateAge(profil.birthday)}} ans</h2>
                </div>
                <img id="profilPic" class="inline-block pt-2 pl-2 shadow" :src="`${$options.API_HOST}/profils/${profil.id}/image`"/>
              </div>

              <!-- BADGES -->
              <div id="badges" class="inline-block pt-2 pl-4 flex flex-col justify-between" >
                <div v-for="badge in handleRandomiseBadges(profil)" :key="badge._id" class="p-3 flex items-center justify-between">
                  <p class="ml-4 pl-2 pr-2">{{ getBadgeById(badge.badgeId.id).name }}</p>
                  <img :src="`${$options.API_HOST}/badges/${badge.badgeId.id}/image`"/>
                </div>
              </div>
              
              <!-- FIN DE PHOTO DE PROFIL + INFOS + BADGES -->
            </div>
          
          <!-- FIN DE CONTAINER POUR OPACITY -->
          </div>
          
          <!-- FLECHE DE REDIRECTION VERS LE PROFIL -->
          <div id="next" :style="profil.adopted ? 'cursor: not-allowed' : ''">
            <nuxt-link :to="{name: 'profil-slug', params: { slug: profil.id + '-' + profil.firstname + '-' + profil.lastname } }">
              <i class="material-icons mr-5" style="font-size: 50px;">arrow_forward</i>
            </nuxt-link>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  API_HOST: process.env.API_HOST,
  props: {
    profils: {
      type: Array,
      default: () => {
        return {};
      }
    },
    badges: {
      type: Array,
      default: () => {
        return {};
      }
    },
    selected: {
      type: Array,
      default: () => {
        return {};
      }
    }
  },
  data () {
    return {
      badgeslist: [],
      firstname: "",
      desc: ""
    };
  },
  props: {
    profils: {
      type: Array,
      required: true
    },
    badges: {
      type: Array,
      required: true
    },
    selected: {
      type: Array,
      required: true
    }
  },
  methods: {
    calculateAge (date) {
      const formatedDate = new Date(date)
      const diff = Date.now() - formatedDate.getTime()
      const age = new Date(diff);
      return Math.abs(age.getUTCFullYear() - 1970)
    },
    getBadgeById (badgeId) {
      return this.badges.filter(badge => badge.id == badgeId).pop()
    },
    handleRandomiseBadges (profil) {
      let randomiseBadges = []
      let badges = profil.profilBadges

      badges = badges.filter((b) => b.badgeId.id < 1000)
      badges = badges.filter((b) => b.enable)
      
      if (badges.length > 3) {
        while (randomiseBadges.length < 3) {
          const random = Math.floor(Math.random() * badges.length)
          if (!randomiseBadges.includes(badges[random])) {
            randomiseBadges.push(badges[random])
          }
        }
      } else {
        randomiseBadges = badges
      }
      return randomiseBadges
    }
  },
}
</script>

<style lang="postcss" scoped>

#profilPic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.color {
  background: linear-gradient(37deg, #660099 0%, #8161ff 100%);
}

.search-result-list {
  border-radius: 30px;
  color: white;
}

.grid_result_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding:15px;
}

@media screen and (max-width: 1000px) {
  .grid_result_list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.container-adopted {
  position: absolute;
  top: 40%;
  left: 20%;
}

.adopted {
  background: linear-gradient(rgba(91, 91, 94), rgba(114, 113, 114));
}

.adopted-text {
  text-transform: uppercase;
  color: black;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  transform: rotate(-25deg); 
  font-weight: 700;
  height: 55px;
  font-size: 30px;
  padding: 5px 150px;
  border: 3px solid black;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);
  z-index: 50;
}

@media screen and (max-width: 500px) {
  .container-adopted {
    left: 30%;
  }
  .adopted-text {
    margin-left: -70px;
    padding: 5px 80px;
  }
}

#text-search-result {
  padding: 10px;
}

#badges img {
  max-width: 5vw;
  min-width: 50px;
  height: auto;
}

#text {
  display: flex;
  justify-content: space-between;
}

#next {
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 200px) and (test-width: 640px) {
  .text-filters {
    text-align: center;
  }
}
</style>
