<template>
    <div id="project" class="flex flex_2">
        <div class="project project_2">
            <h4 class="bold uppercase titre">{{ item.name }}</h4>
            <p>{{ item.description }}</p>
            <button  v-if="item.link" class="text-white font-bold py-2 px-4 rounded plus">
                <a :href="'http://' + item.link" target="_blank">Accéder au projet</a>
            </button>
            <img v-if="item.snapshot" class="img" :src="`${$options.API_HOST}/projects/${profil.id}/image`"/>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['item', 'align', 'profil']
    }
</script>

<style lang="postcss" scoped>

    #project {
        margin-top: 25px;
    }

    .left {
        flex-direction: row-reverse;
    }

    .left .desc .link {
        text-align: right;
    }

    .left .desc h3, .left .desc p {
        text-align: left;
    }

    .left .desc {
    }

    .right .desc {
    }

    .right h3, .right p {
        text-align: right;
    }

    .right .link {
        text-align: left;
    }

    .img {
        max-width: 60%;
        margin: auto;
        margin-top: 20px;
    }

    .desc h3 {
        font-size: 1.5em;
    }

    .desc .link {
        font-style: italic;
        color: grey;
        margin-top: 15px;
    }

    @media screen and (max-width: 800px) {
        #Project {
            flex-direction: column-reverse;
            text-align: center;
        }

        h3, p {
            text-align: center!important;
        }

        .link {
            text-align: center!important;
            text-decoration: underline;
        }

        .img {
            max-height: 250px;
        }

        h3 {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    @media screen and (min-width: 640px) {
    }
    .project {
      background-color: white;
      border-radius: 5px;
      box-shadow: 5px 5px 5px lightgrey;
      padding: 0.6em;
    }
    
    .flex_2 {
      flex: 1;
      flex-direction: column;
    }

    .plus {
        background: linear-gradient(#660099, #8161ff);
        outline: none;
        margin-top: 15px;
    }

</style>
