<template>
  <div class="mb-2 multi-select w-3/4">
    <Badges :selectedRessource="selectedRessource" :windowWidth="windowWidth" @remove="removeRessource"/>
    <v-select
    label='name'
    :options='sortedArrayBadges'

    :multiple="true"
    :select-on-tab="true"
    :clearable="true"
    :close-on-select="false"
    :searchable="true"
    :filterable="true"

    :taggable="true"
    :no-drop="false"
    :push-tags="false"
    @input="updateSelected"
    >
    <!--Creating a sub-template where option takes values of options from v-select-->
      <template v-slot:option="option">
        <!--getting badges names and id.png from sortedArrayBadges-->
        <div class="badges">
          <img :src="`${$options.API_HOST}/badges/${option.img}/image`"/>
          <span style="margin-left: 10px;">{{ option.name }}</span>
        </div>

      </template>
    </v-select>

    <!-- <select style="width: 70%; margin-top: 15px;" v-model="selectedBadge" @input="temporaryFixSearchBar">
      <option v-for="badge in sortedArrayBadges" :key="badge.id" :value="badge.id">
        {{badge.name}}
      </option>
    </select> -->
  </div>
</template>
<script>
import Badges from '@/components/BadgesFiltersCard'
export default {
  API_HOST: process.env.API_HOST,
  components: { Badges },
  props: {
    badges: {
      type: Array,
      required: true,
      default: []
    }
  },
  data () {
    return {
      value: null,
      options: this.badges,
      selectedRessource: [],
      optionsProxy: [],
      deleteMode: false,
      timeout: null,
      windowWidth: window.innerWidth,
      selectedBadge: null,
    }
  },
  methods: {
    addTag (newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
      }
      this.options.push(tag)
      this.value.push(tag)
    },
    changeDeleteMode (isNotMobile) {
      this.deleteMode = !this.deleteMode

      if (!isNotMobile) {
        if (this.deleteMode === true) {
          if (this.timeout)
            clearTimeout(this.timeout)
          this.timeout = setTimeout(() => {
            this.deleteMode = false
          }, 2000)
        }
      }
    },
    updateSelected (value) {
      value.forEach(rsc => {
        //condition pour eviter le dedoublement des badges
        if (!this.selectedRessource.includes(rsc)) {
          this.selectedRessource.push(rsc)
        }
        this.options = this.options.filter(badge => badge.id !== rsc.id)
      })

      const ressourcesId = this.selectedRessource.map(e => {
        return e.id
      })
      this.$emit('filterUpdate', ressourcesId)
      this.optionsProxy = []
    },
    temporaryFixSearchBar () {
      let array = []
      array.push(this.selectedBadge)
      this.$emit('filterUpdate', array)
    },
    removeRessource (ressource) {
      this.options.push(ressource)
      this.selectedRessource = this.selectedRessource.filter(rsc => rsc.id !== ressource.id)
      this.changeDeleteMode()
      const ressourcesId = this.selectedRessource.map(e => {
        return e.id
      })
      this.$emit('filterUpdate', ressourcesId)
    }
  },
  computed: {
    sortedArrayBadges () {
      const array = this.options.filter(a => a.id < 1000)
      return array.sort((a, b) => {
        var nameA = a.name.toLowerCase(), nameB = b.name.toLowerCase();
        if (nameA < nameB) //sort string ascending
          return -1;
        if (nameA > nameB)
          return 1;
        return 0; //default return value (no sorting)
      });
    },
    width () {
      return window.width
    }
  },
  mounted () {
    window.onresize = () => {
      this.windowWidth = window.innerWidth
    }
  }
}
</script>

<style lang="postcss" scoped>
.badge-picture {
  max-width: 48px;
}

.badges {
  width: 55px;
  display: flex;
  align-items: center;
}

.badges img {
  height: 50px;
  width: 55px;
}

.multi-select {
  margin: auto;
  width: 90%;
}

@media screen and (min-width: 640px) {
  .multi-select {
    width: 75%;
  }
}
</style>
