<template>
  <div>
    <div class="flex flex-row justify-center items-center mb-6" style="background:linear-gradient(#660099, #8161ff); width:100%; height: 5em;">
      <nuxt-link :to="{name: 'index' }">
        <img src="~/assets/images/logo-white.png" class="logo__index"/>
      </nuxt-link>
    </div>
    <search-bar @filterUpdate="filterChanges($event)" :badges="badges"/>
    <profilList :profils="prof" :badges="badges" :selected="selectedBadges"/>
    <carousel-users :badges="badges" :profils="profils"/>
  </div>
</template>

<script>

import SearchBar from "@/components/SearchBar";
import CarouselUsers from "@/components/CarouselUsers";
import ProfilList from "@/components/ProfilList";


export default {
  components: {
    SearchBar,
    CarouselUsers,
    ProfilList
  },
  async asyncData ({ $axios }) {
    try {
      let profils = await $axios.get(`/profils`, {baseURL: process.env.API_HOST})
      let badges = await $axios.get(`/badges`, {baseURL: process.env.API_HOST})
      return {
        profils: profils.data,
        badges: badges.data
      }
    } catch (error) {
      console.log(error)
    }
  },
  data () {
    return {
      selectedBadges: [],
      prof: []
    }
  },
  methods: {
    filterChanges (filters) {
      this.selectedBadges = filters
      this.applyFiltre()
    },
    applyFiltre() {
      if(this.selectedBadges.length > 0) {
        //permet de donner une valeur au badge : ( ordre de séléction )
        //B1 +> 10
        //B2 +> 20
        let badgeScores = {}
        for(let sb = 0; sb < this.selectedBadges.length; sb++) {
          badgeScores[this.selectedBadges[sb]] = (sb + 1) * 10
        }

        // recupere les badges qui sont dans la demandes
        this.profils.forEach(profil => {  
          
          let badgesVerfified = profil.profilBadges.filter(
            badge => this.selectedBadges.includes(badge.badgeId.id)
          )
          
          profil['score'] = badgesVerfified.length
          profil['badgeScore'] = 0
          
          badgesVerfified.forEach(bf => {
            profil['badgeScore'] += badgeScores[bf.badgeId.id]
          })
        })
        
        // on ne garde que ce qui on un score supérieur à 0
        let profilVerified = this.profils.filter(profil => profil['score'] > 0)
        // on les ranges par rapport à leur scores
        profilVerified.sort((a, b) => b['score'] - a['score'])

        let ps = []
        let pa = []

        // score Max
        let score_max = profilVerified.length > 0 ? profilVerified[0]['score'] : 0;

        // 
        profilVerified.forEach((p) => {
          if(p['score'] == score_max){
            pa.push(p)
          } else {
            score_max = p['score']
            ps.push(Array.from(pa))
            pa = []
            pa.push(p)
          }
        });

        ps.push(Array.from(pa));
        ps.forEach(element => {
          element.sort((a, b) => a['badgeScore'] - b['badgeScore']);
        });

        profilVerified = [];

        ps.forEach(paV => {
          paV.forEach(pV => {
            profilVerified.push(pV);
          });
        });
        this.prof = profilVerified;
      } else {
        this.prof = [];
      }
    },
    isValueNull() {
      return 0
    }
  },
  computed: {
    displayProfile () {
      let selectedProfils = []
      this.profils.forEach(profil => {
        if (!profil.badges) return null
        profil.score = profil.badges.filter(badge => this.selectedBadges.includes(badge.id)).length
        if (profil.score > 0)
          selectedProfils.push(profil)
      })
      return selectedProfils.sort((a, b) => a.score - b.score).reverse()
    }
  }
};
</script>
